<div class="container-fluid">
    <div class="row p-4">
            
        <%# 配送先編集 %>
        <div class="col-lg-11 mx-auto">
            <div class="p-5 my-4" style="background-color: #EAEAEA; border: 3px solid #272343; border-radius: 5px;">

                <h2>配送先編集</h2>
                <div class="pt-4"></div>



                

            </div>
        </div>
        
        
        
    </div>
</div>