<%= form_with(model: [product, product_comment], url: product_product_comments_path(product)) do |f| %>
    <%= f.text_area :comment, rows:'5', placeholder: "商品のコメント", class: "form-control form-control-sm" %>
    <div class="pt-2"></div>

    <div id="rating-form">
        <label>評価：</label>
    </div>

    <div class="action text-right">
        <%= f.submit "投稿する", class: "btn btn-sm btn-blm col-lg-2" %>
    </div>
<% end %>


<script>
    $('#rating-form').raty({
        path: '/assets/',
        // ここのスコアネームで「product_comment」モデルの「rate」カラムに送ることを設定
        scoreName: 'product_comment[rate]'
    });
</script>