<div class="container-fluid my-4">
    <div class="row">
        <div class="col-lg-9 mx-auto">
            <h1>Admin DashBoard</h1>
            <div class="pt-5"></div>
        </div>
        <div class="col-lg-9 mx-auto">
                

            <div class="btn btn-info col-md-3">
                <h4>商品管理</h4>
            </div>
            
            <div class="btn btn-danger col-md-3">
                <h4>生産者管理</h4>
            </div>

            <div class="btn btn-warning col-md-3">
                <h4>注文管理</h4>
            </div>

            <div class="btn btn-success col-md-3">
                <h4>会員管理</h4>
            </div>



            <div class="pb-5"></div>

        </div>

    </div>
</div>
