<div class="container-fluid my-4">
    <div class="row">
        <div class="col-lg-9 mx-auto">
            <h1>管理者トップページ</h1>
            <p>今日の注文数</p>
            <p>今日の注文数</p>


        </div>

    </div>
</div>
