<div class="container-fluid">
    <div class="row p-4">
        <div class="col-lg-9 mx-auto">

            <div class="pt-5"></div>

            <div class="p-5 my-4" style="background-color: #f2f2f2; border: 3px solid #272343; border-radius: 5px;">

                <div class="pt-1"></div>

                <div class="text-center">
                    <h3>ご購入ありがとうございました！</h3>
                </div>

                <div class="pb-5"></div>

                <div class="text-center">
                    <p>
                        商品の在庫を確認後、発送準備に移らせて頂きます。<br>
                        商品が届くまで、今しばらくお待ちください。
                    </p>
                </div>

                <div class="pb-5"></div>

                <div class="row mx-auto">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-4 pb-3">
                            <%= link_to 'ホームへ戻る', root_path, class: "btn btn-info col-lg-12" %>
                        </div>
                        <div class="col-lg-2"></div>
                        <div class="col-lg-4 pb-3">
                            <%= link_to "注文履歴を確認する", orders_path, class: "btn btn-hachiss col-lg-12" %>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>

            </div>

            <div class="pb-5"></div>

        </div>
    </div>
</div>