<%= form_with(model: [product, cart_item], url: cart_items_path, local: true) do |f| %>
    <div class="form-row">
        <div class="col-lg-1"></div>
        <div class="col-lg-3">
            <%= f.select :quantity, [1,2,3,4,5,6,7,8,9,10], {prompt: false}, {class:"form-control form-control-sm"} %>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-6">
            <%# 商品IDも一緒に送り登録する %>
            <%= f.hidden_field :product_id, value: @product.id %>
            <%= f.submit 'カートに入れる', class:"btn btn-sm btn-primary col-lg-12" %>
        </div>
        <div class="col-lg-1"></div>
    </div>
<% end %>