/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
// M PLUS
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700&display=swap');
// Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
// Libre（バーコード）
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39&display=swap');


// flashメッセージ通知用
#flash-op {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
}



// 管理者ロゴ
.admin-logo {
    background-image: image-url("logos/admin-logo.png");
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 38px;
}
// ロゴ
.logo {
    background-image: image-url("logos/logo.png");
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 38px;
}



body {
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 14px;
    color: #272343;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 42px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
h2 {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 300;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
h3 {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 300;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}





// オリジナルbtn_1
.btn-hachiss {
    color: #272343;
    background-color: #ffd803;
}
.btn-hachiss:hover {
    color: #272343;
    box-shadow: 2px 1px 2px 1px #e7c500;
    transition: .2s;
}
// オリジナルbtn_2
.btn-drk {
    color: #ffd803; 
    background-color: #bae8e8;
}
.btn-drk:hover {
    color: #e7c500;
    box-shadow: 2px 1px 2px 1px #bae8e8;
    transition: .2s;
}
// オリジナルbtn_3
.btn-blm {
    color: #bae8e8; 
    background-color: #272343;
}
.btn-blm:hover {
    color: #bae8e8;
    box-shadow: 2px 1px 2px 1px #272343;
    transition: .2s;
}






// フッターシルエット
.footer-logo {
    background-image: image-url("logos/footer-logo.png");
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 220px;
    transition: 1.0s ;
    opacity: 0.7;
}
.footer-logo:hover {
    transition: 1.0s ;
    opacity: 1.0;
}



// トップへ戻るボタン
#back {
    position: fixed;
    right: 20px;
    bottom: 20px;
}
