<div class="container-fluid">
    <div class="row">

        <%# メイン %>
        <div class="col-lg-10 p-4">
            <h3>商品一覧</h3>
            <div class="text-right">
                <%# <%= render 'products/search_select' %>
            </div>

            <div class="pb-2"></div>
            
            <div class="p-3" style="background-color: #f2f2f2; border: 3px solid #272343; border-radius: 2px;">
                <div class="row p-4">
                    <%# 商品一覧 %>
                    <%= render 'products/product_each', products: @products %>
                    <%# 商品一覧 終わり %>
                </div>

                <%# ページネーション %>
                <div class="row">
                    <div class="mx-auto">
                        <div class="pt-4"></div>
                        <%= paginate @products %>
                    </div>
                </div>
                <%# ページネーション 終わり %>
            </div>
        </div>
        

        
        <div class="col-lg-2 py-4" style="background-color: #e6ffff;">
            <%# サイドバー %>
            <%= render 'layouts/sidebar', genres: @genres, producers: @producers %>
            <%# サイドバー 終わり %>
        </div>
    
    </div>
</div>