<div class="container-fluid" style="background-color: #000000; border-top: 3px solid #272343;">
    <section class="cta bg-blue-grey text-white py-4 border-bottom border-secondary"></section>
    <section class="footer bg-blue-grey text-grey ">
        <div class="copyright text-center py-3 bg-blue-grey border-top border-secondary">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-white">
                        © 2020 Hachijo-shop All Rights Reserved
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>